<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbrt.kybao.mapper.CommentMapper">

    <!-- 添加评价-根据酒店id -->
    <insert id="addCommentByHotelId">
        INSERT INTO sojourn_comment (content,content_time,is_deleted,ids_hotel_id)
        VALUES(#{content},now(),0,#{idsHotelId})
    </insert>

    <!-- 查询该店所有评价-根据酒店id -->
    <select id="findAllComment" resultType="com.nbrt.kybao.entity.Comment">
        SELECT
            id AS id,
            ids_hotel_id AS idsHotelId,
            content AS content,
            content_time AS contentTime
        FROM
            sojourn_comment
        WHERE
            ids_hotel_id = #{idsHotelId}
          AND is_deleted =0
        ORDER BY content_time DESC
    </select>

    <!-- 删除评价(后台)-根据评价id、酒店id -->
    <update id="deleteCommentById">
        UPDATE
            sojourn_comment
        SET
            is_deleted = 1
        WHERE
            id = #{id}
          AND is_deleted = 0
          AND ids_hotel_id = #{idsHotelId}
    </update>
</mapper>