<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbrt.kybao.mall.mapper.PayinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nbrt.kybao.mall.model.entity.Payinfo">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="pay_no" property="payNo" />
        <result column="user_no" property="userNo" />
        <result column="payment_type" property="paymentType" />
        <result column="pay_platform_no" property="payNo" />
        <result column="pay_status" property="payStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
